{% extends 'base.html.twig' %}

{% block title %}Modifier Événement - Responsable{% endblock %}

{% block body %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header bg-warning">
                    <h4 class="mb-0"><i class="fas fa-edit"></i> Modifier l'Événement</h4>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                        <div class="mb-3">
                            {{ form_row(form.titre) }}
                        </div>

                        <div class="mb-3">
                            {{ form_row(form.description) }}
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form_row(form.dateEvenement) }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {{ form_row(form.categorie) }}
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form_row(form.lieu) }}
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                {{ form_row(form.statut) }}
                            </div>
                            <div class="col-md-6 mb-3">
                                {% if evenement.image %}
                                    <label class="form-label">Image actuelle :</label><br>
                                    <img src="{{ asset('images/events/' ~ evenement.image) }}" alt="{{ evenement.titre }}" class="img-thumbnail mb-2" style="max-width: 200px;">
                                    <p class="text-muted small">Uploadez une nouvelle image pour la remplacer</p>
                                {% endif %}
                                {{ form_row(form.imageFile) }}
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <a href="{{ path('app_responsable_evenements') }}" class="btn btn-secondary">
                                <i class="fas fa-arrow-left"></i> Retour
                            </a>
                            <button type="submit" class="btn btn-warning">
                                <i class="fas fa-save"></i> Enregistrer les modifications
                            </button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
